

  ion-content {
    --background: #0d0e0e; /* Light background color for better contrast */
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height to ensure centering vertically */
    max-width: 400px; /* Max width for the form */
    margin: 0 auto; /* Center horizontally */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    width: 100%;
    padding: 3vh;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  .footer-text {
    margin-top: 10px;
    font-size: 0.9em;
    text-align: center;
    color: black;
  }
  
  a {
    text-decoration: none;
    color: var(--ion-color-primary);
  }
  